body {
  font-family: sans-serif;
}

.inputs input, .inputs button {
  display: block;
  margin: 5px 0;
  padding: 8px;
}

.color-btn {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  margin-right: 5px;
  cursor: pointer;
}

.color-btn.selected {
  border: 2px solid #000;
}

.schedule-block {
  border-left: 6px solid blue;
  margin: 5px 0;
  padding: 5px;
  background: #e0f0ff;
}
